.customButton {
    background-color: #111827;
    color: #FFFFFF;
    border: none; 
    border-radius: 6px; /* Rounded corners */
    padding: 10px 20px ; 
    font-size: 14px; 
    font-weight: bold; 
    cursor: pointer; 
    outline: none; 
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
    transition: background-color 0.3s, box-shadow 0.3s; 
  }
  
  .customButton:hover {
    background-color: #333333; /* Darker background on hover */
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.15); /* Larger shadow on hover */
  }
  
  .customButton:active {
    background-color: #666666; /* Even darker background on active */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Smaller shadow on active */
  }
  