.clientsPanel{
    padding: 80px 112px;
    gap: 32px;
    display: flex;
    flex-direction: column;
    justify-content:center;
}

.logos {
    display: flex;
    justify-content: space-between;
    align-items: center; 
    gap: auto; 
    flex-wrap: wrap; 
  }
  
.company-logo {
    height: 61px;
    width: 175px;
  }

.clientsPanel p {
    text-align: center;
}

@media (max-width: 820px) {
  .clientsPanel {
      padding: 40px 5%; 
  }
}