.faq-panel{
    max-width: 1200px; 
    padding: 80px 112px; 
    margin: auto; 
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 32px;
    text-align: center;
}

.accordion{
    width: 100%;
    flex: 1;
}


.accordion-body {
    text-align: left;
  }

.accordion-button:not(.collapsed) {
  font-weight: bold;
}

@media (max-width: 820px) {
  .faq-panel{
      padding: 40px; 
  }
};