nav {
  padding: 1rem 7vw; 
  display: flex;
  align-items: center;
  background-color: black;
  text-align: center;
}

.nav-links {
  margin-left: auto;
  display: flex;
  width: 20%; 
  justify-content: space-between;
  flex-wrap: wrap; 
}

.nav-links a {
  font-size: 0.875rem; 
  font-weight: 600;
  color: white;
}

.logo {
  height: 4rem; 
  width: 4rem;
}


@media (max-width: 1024px) {
  nav {
    padding: 1rem 4vw;
  }

  .nav-links {
    width: 60%; 
  }

  .logo {
    height: 3.5rem;
    width: 3.5rem;
  }
}

@media (max-width: 820px) {
  .nav-links {
    width: 70%; 
  }

  .nav-links a {
    font-size: 0.8rem; 
  }
}

@media (max-width: 480px) {
  nav {
    flex-direction: column; 
    padding: 1rem;
  }

  .nav-links {
    margin-top: 1rem; 
    width: 100%; 
  }

  .logo {
    height: 3rem; 
    width: 3rem;
    margin-bottom: 0.5rem; 
  }
}
