.reviews {
    max-width: 1200px; 
    padding: 80px 112px; 
    margin: 0 auto; 
    display: flex;
    flex-direction: column;
    gap: 32px;
    text-align: center;
    align-items: center
}

.d-flex {
    display: flex;
    justify-content: center;
    gap: 15px; /* Adjust the gap as you like */
}

.card {
    flex: 0 0 32%; /* This ensures that each card will take roughly a third of the space */
    margin-bottom: 20px; /* Spacing at the bottom of each card */
    /* Add padding as needed */
}

.carousel-indicators {
    position: relative;
    margin-top: 32px;
}

.carousel-indicators li {
    background-color: #000; /* Ensure this contrasts with the carousel background */
    width: 10px;
    height: 10px;
    border-radius: 50%;
    margin: 0 5px;
}

.carousel-indicators .active {
    background-color: #007bff;
}