.servicesPanel {
  max-width: 1200px; 
  padding: 80px 112px; 
  margin: 0 auto; 
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 32px;
}

.services-row {
  display: flex;
  gap: 32px;
  border-radius: 6px;
}

.card {
  flex: 1;
  color: white;
  position: relative;
  height: 300px;
  justify-content: center; 
  align-items: center; 
  text-align: center; 
  border-radius: 6px;
}

.card-img-top{
  height: 50%;
}


@media (max-width: 820px) {

  .servicesPanel{
    padding: 40px;
  }

  .servicesPanel h1 {
    font-size: 32px;
  }
  
  .services-row {
      flex-direction: column;
      align-items: center;
  }

  

}



